@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1050px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1050px;
  }
}
* {
  font-family: "Open Sans", sans-serif;
}
* p {
  margin: 0;
}
* ul {
  padding: 0;
  margin: 0;
}

@keyframes aniHeader {
  from {
    transform: translateY(-100%);
  }
}
.fixed {
  position: fixed;
  z-index: 9999;
  width: 100%;
  animation-duration: 1s;
  animation-name: aniHeader;
  box-shadow: 1px 2px 3px #ddd;
}

#header {
  background-color: #fff;
}
#header .header-top .menu,
#header .header-bottom .menu {
  display: flex;
  justify-content: end;
}
#header .header-top .menu li,
#header .header-bottom .menu li {
  list-style-type: none;
}
#header .header-top .menu a,
#header .header-bottom .menu a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  display: block;
  position: relative;
}
#header .header-top .menu a::before,
#header .header-bottom .menu a::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #f95702;
  width: 0;
  bottom: 0px;
  transition: all 0.5s;
}
#header .header-top .menu a:hover::before,
#header .header-bottom .menu a:hover::before {
  width: 100%;
}
#header .header-top .menu a.search:hover::before,
#header .header-top .menu a.phone:hover::before,
#header .header-bottom .menu a.search:hover::before,
#header .header-bottom .menu a.phone:hover::before {
  width: 0;
}
#header .header-top .menu .dropdown,
#header .header-bottom .menu .dropdown {
  position: relative;
  margin-left: 20px;
}
#header .header-top .menu .dropdown:hover .drop-btn,
#header .header-bottom .menu .dropdown:hover .drop-btn {
  color: #f95702;
}
#header .header-top .menu .dropdown:hover .dropdown-content,
#header .header-bottom .menu .dropdown:hover .dropdown-content {
  display: block;
}
#header .header-top .menu .dropdown:hover .search,
#header .header-top .menu .dropdown:hover .news,
#header .header-top .menu .dropdown:hover .promotion,
#header .header-bottom .menu .dropdown:hover .search,
#header .header-bottom .menu .dropdown:hover .news,
#header .header-bottom .menu .dropdown:hover .promotion {
  color: #000;
  cursor: pointer;
}
#header .header-top .menu .dropdown .drop-btn,
#header .header-bottom .menu .dropdown .drop-btn {
  cursor: default;
  padding: 8px 0;
}
#header .header-top .menu .dropdown .drop-btn::before,
#header .header-bottom .menu .dropdown .drop-btn::before {
  top: 0px;
}
#header .header-top .menu .dropdown .dropdown-content,
#header .header-bottom .menu .dropdown .dropdown-content {
  border: 1px solid #ddd;
  width: max-content;
  background-color: #ddd;
  opacity: 0.95;
  position: absolute;
  display: none;
  z-index: 10;
}
#header .header-top .menu .dropdown .dropdown-content li,
#header .header-bottom .menu .dropdown .dropdown-content li {
  transition: all 0.5s;
  border-bottom: 1px solid #fff;
  padding: 0 10px;
}
#header .header-top .menu .dropdown .dropdown-content li a,
#header .header-bottom .menu .dropdown .dropdown-content li a {
  color: #f95702;
  padding: 8px 0;
}
#header .header-top .menu .dropdown .dropdown-content.reset,
#header .header-bottom .menu .dropdown .dropdown-content.reset {
  opacity: 1;
}
#header .header-top .menu .dropdown .dropdown-content form,
#header .header-bottom .menu .dropdown .dropdown-content form {
  display: flex;
  opacity: 1;
}
#header .header-top .menu .dropdown .dropdown-content form input,
#header .header-bottom .menu .dropdown .dropdown-content form input {
  padding: 7px;
  border: 1px solid #ddd;
}
#header .header-top .menu .dropdown .dropdown-content form input:focus,
#header .header-bottom .menu .dropdown .dropdown-content form input:focus {
  outline: none;
}
#header .header-top .menu .dropdown .dropdown-content form button,
#header .header-bottom .menu .dropdown .dropdown-content form button {
  background-color: #ffa522;
  border: 1px solid #ddd;
  color: #fff;
  font-weight: 700;
  padding: 0 10px;
  transition: all 0.5s;
}
#header .header-top .menu .dropdown .dropdown-content form button:hover,
#header .header-bottom .menu .dropdown .dropdown-content form button:hover {
  background-color: #a24514;
}
#header .header-top .menu .dropdown .phone,
#header .header-bottom .menu .dropdown .phone {
  background-color: #ffa522;
  color: #fff;
  padding: 3px 15px;
  font-size: 16px;
  border-radius: 5px;
  letter-spacing: 2px;
  margin-top: 3px;
}
#header .header-bottom .logo img {
  width: 150px;
}
#header .header-bottom .menu .dropdown .drop-btn {
  padding: 20px 0px;
}
#header .header-bottom .menu .dropdown .drop-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #f95702;
  width: 0;
  bottom: 0px;
  transition: all 0.5s;
}
#header .header-bottom .menu .dropdown .drop-btn:hover {
  color: #f95702;
}
#header .header-bottom .menu .dropdown .drop-btn:hover::after {
  width: 100%;
}

#main .banner {
  cursor: grab;
}
#main .banner .img {
  display: block;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main .banner .img .linkBanner {
  display: block;
  position: absolute;
  top: 0;
  height: 75%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
#main .banner .img .content {
  display: flex;
  bottom: 35px;
  vertical-align: bottom;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#main .banner .img .content a {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px 17px;
  margin: 0 10px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
#main .banner .img .content a img {
  width: 30px;
  height: 50px;
  margin: auto;
  padding-bottom: 10px;
}
#main .banner .img .content a img[src="./img/Banner/Asset-2.png"] {
  width: 40px;
}
#main .banner .owl-carousel .owl-nav {
  margin: 0;
  height: 0;
}
#main .banner .owl-carousel .owl-nav .owl-prev,
#main .banner .owl-carousel .owl-nav .owl-next {
  background: transparent;
}
#main .banner .owl-carousel .owl-nav .owl-prev::before,
#main .banner .owl-carousel .owl-nav .owl-next::before {
  padding: 10px 20px 10px 15px;
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
#main .banner .owl-carousel .owl-nav .owl-prev:hover::before,
#main .banner .owl-carousel .owl-nav .owl-next:hover::before {
  color: #f95702;
  background-color: rgba(0, 0, 0, 0.5);
}
#main .banner .owl-carousel .owl-nav .owl-prev span,
#main .banner .owl-carousel .owl-nav .owl-next span {
  display: none;
}
#main .banner .owl-carousel .owl-nav .owl-prev::before {
  content: "❮";
  left: 0;
}
#main .banner .owl-carousel .owl-nav .owl-next::before {
  content: "❯";
  right: 0;
}
#main .news-hot .logo img {
  width: 33px;
}
#main .news-hot .logo h3 {
  border-bottom: 1px solid #f95702;
  font-weight: 700;
  color: #f95702;
  font-size: 30px;
}
#main .news-hot .logo .nav-news-hot .owl-prev,
#main .news-hot .logo .nav-news-hot .owl-next {
  background: transparent;
  border: none;
}
#main .news-hot .logo .nav-news-hot .owl-prev::before,
#main .news-hot .logo .nav-news-hot .owl-next::before {
  padding: 0px 5px;
  font-size: 25px;
  color: #f95702;
  transition: all 0.5s;
  border: 1px solid #aaa;
}
#main .news-hot .logo .nav-news-hot .owl-prev span,
#main .news-hot .logo .nav-news-hot .owl-next span {
  display: none;
}
#main .news-hot .logo .nav-news-hot .owl-prev {
  transform: scaleX(-1);
}
#main .news-hot .logo .nav-news-hot .owl-prev::before {
  content: "➔";
}
#main .news-hot .logo .nav-news-hot .owl-next::before {
  content: "➔";
}
#main .news-hot .owl-carousel a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}
#main .news-hot .owl-carousel a:hover span {
  color: #f95702;
}
#main .news-hot .owl-carousel a img {
  width: 100%;
  height: 230px;
  padding-bottom: 10px;
}
#main .news-hot .owl-carousel a p {
  font-size: 14px;
  font-weight: 600;
}
#main .news-hot .owl-carousel a span,
#main .news-hot .owl-carousel a i {
  font-size: 14px;
  color: #777;
}
#main .slide .container .content {
  height: 100px;
  display: flex;
  align-items: center;
}

#footer {
  color: #a7a7a7;
}
#footer .footer-top {
  border-top: 5px solid #ffa522;
  background-color: rgb(54, 54, 54);
}
#footer .footer-top .info {
  font-size: 13px;
}
#footer .footer-top .info p {
  line-height: 1.8;
}
#footer .footer-top .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-top .icon a {
  display: inline-block;
  margin: 0 5px;
}
#footer .footer-top .icon i {
  background-color: #fff;
  color: #f95702;
  border-radius: 100%;
  padding: 8px 11px;
}
#footer .footer-top .icon img {
  width: 38px;
}
#footer .footer-top h3 {
  color: #a7a7a7;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}
#footer .footer-top a {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
}
#footer .footer-bottom {
  background-color: #252525;
  border-top: 1px solid rgba(255, 167, 34, 0.5);
}
#footer .footer-bottom a {
  color: #a7a7a7;
  text-decoration: none;
}